foreach/src/main/mule/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9250def1-99a9-457d-a7a6-0a803c87d834" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ba2bdc8a-07af-495a-be96-359b806bc4f1" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="manjuvani@1981" database="employee" />
	</db:config>
	<flow name="foreachFlow" doc:id="618bdb02-86f7-465c-87c4-e5c9e26382c6" >
		<http:listener doc:name="Listener" doc:id="2bb9a692-a66f-40fd-a2de-e178d2284102" config-ref="HTTP_Listener_config" path="foreach"/>
		<ee:transform doc:name="Transform Message" doc:id="858e6e0d-90f0-4ecc-a3f3-de5c2dc86137" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 200 map{
	"empid" : 100 + $$,
	"empname" : "manju"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="30f1797a-92f4-4d53-8c73-a8ca6aad5390" >
			<logger level="INFO" doc:name="Logger" doc:id="ec9411e3-3548-48dd-9403-625e5bbd789f" message="#[payload]"/>
			<db:insert doc:name="Insert" doc:id="50d1112d-53b0-412f-a98c-9e15aecc6b6f" config-ref="Database_Config">
			<db:sql><![CDATA[insert into new_table(empid,empname) values (:empid,:empname);]]></db:sql>
				<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		</foreach>
	</flow>
</mule>
